// ========== Global Variables ==========
$color-primary: #63599F;
$color-secondary: #e1d3f5;
$color-background-start: #EDE5F8;
$color-background-end: #F8C9C9;
$color-text: #63599F;
$color-white: #ffffff;

// Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
$font-family-base: 'Open Sans', sans-serif;

// Border radius
$border-radius-lg: 2rem;
$border-radius-md: 1rem;

// Shadow
$shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.08);

// ========== Global Styles ==========
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-base;
}

body {
    padding-block: 16px;
    padding-inline: clamp(16px, 6vw, 160px);

    background: linear-gradient(180deg,
            $color-background-start 0%,
            $color-background-end 100%);
    color: $color-text;
    min-height: 100vh;
}

@media (min-width: 992px) {
    body {
        padding: 2% 20%;
    }
}

// ========== Custom Components ==========
.text-secondary {
    color: $color-secondary !important;
}

.card {
    background: $color-white;
    color: $color-text;
    border-radius: $border-radius-md;
    padding: 2rem 3rem;
    box-shadow: $shadow-soft;
}

.form-check-input:checked {
    background-color: $color-primary !important;
    border-color: $color-primary !important;
}

.form-check-input:focus {
    border-color: lighten($color-primary, 10%);
    box-shadow: 0 0 0 0.25rem rgba($color-primary, 0.25);
}

.btn-primary {
    background-color: $color-primary;
    color: $color-white;
    border: none;
    border-radius: $border-radius-lg;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease;
    
        &:hover,
        &:active,
        &.active,
        .btn-check:checked+&,
        .btn-check:active+&,
        &:focus:active,
        &.show,
        &.dropdown-toggle.show {
            background-color: darken($color-primary, 8%) !important;
            color: $color-white !important;
            border-color: darken($color-primary, 8%) !important;
            box-shadow: none !important;
        }

    &:disabled {
        background-color: lighten($color-primary, 30%);
        cursor: not-allowed;
    }
}

// Stepper
$line-height: 4px;

.line-stepper {
    display: flex;
    gap: 8px;
    align-items: center;

    .seg {
        flex: 1 1 0%;
        height: $line-height;
        border-radius: $border-radius-md;
        background: rgba($color-primary, 0.18); // future
        box-shadow: inset 0 0 0 1px rgba($color-primary, 0.08);
        transition: background 220ms ease, box-shadow 220ms ease, opacity 220ms ease;

        &.completed {
            background: $color-primary;
            box-shadow: none;
        }

        &.active {
            background: #7662EE;
            box-shadow: 0 1px 6px rgba($color-primary, 0.35);
        }
    }
}